body {
    background-image: url("images/pilar.gif");
    background-color: #eee;
    color: #0f0;
} 

div {
    opacity: 0.9;
} 

.nav li {background: #222;}
.nav li:selected {background: #111;}
.nav li:hover {background: #333; }

h3 {
  font-size: 150%;

}

h2 {
  font-size: 200%; 

}

h4 {
  font-size: 120%;

}

h5 {
  font-size: 110%;

}

p {
  font-size: 100%;

}

tr:nth-child(even) {background-color: #ddd}
tr:nth-child(odd) {background-color: #aaa}
tr:hover {background-color: #f5f5f5}

th {
    background-color: rgba(0,0,64,0.5) ;
    color: white;
    height: 40px;
    padding: 5px
   
}

td {
    padding: 5px;
    color: black;
}

th {
    text-align: center;
}

th.sort-header::-moz-selection { background:transparent; }
th.sort-header::selection      { background:transparent; }
th.sort-header { cursor:pointer; }

table th.sort-header:after {
  content:'';
  float:center;
  margin-top:8px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#202020 transparent;
  visibility:hidden;
  }

table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility:visible;
  opacity:0.9;
  }
table th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
  }

table th.sort-header:hover:after {
  visibility:visible;
  }

table {
    border-collapse: collapse;
}

table, th, td {
   border: 1px solid black;
} 
